


/* Adding flame font */
@font-face {
  font-family: 'Roboto Regular';
  src: url('./font/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('./font/Roboto-Bold.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Regular';
}

/* Top Navbar */

nav.top-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 1.6rem auto 0.6rem;
  font-size: .95rem;
  font-weight: 700;
}

.logo {
  width: 36px;
  min-width: 36px;
}

.motors, .property {
  display: flex;
  align-items: center;
  gap: 10px;
}

.motors-icon, .property-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 100%;
  background: linear-gradient(180deg,rgba(0,47,52,.16),rgba(0,47,52,.01) 81.77%,rgba(0,47,52,.01));
}